<div class="home-banner">
    <h1>Watch List</h1>
    <%= link_to "Add a list", new_list_path, class: 'button-list'%>
    <%= link_to "See all movies", movies_path, class: 'button-list'%>
</div>

<div class="containerPerso">
  <h2>My list</h2>
  <div class="row">
    <% @lists.each do |list|%>
      <%= link_to list_path(list.id), class:'pink-none-decoration' do%>
        <div class="col-3">
          <div class="card-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOAAAADhCAMAAADmr0l2AAAANlBMVEUAAAABAQH///98fHy8vLzy8vLMzMzv7+8HBwe5ubn7+/vk5OT4+PjGxsZvb292dnYNDQ2tra3Gpq47AAABU0lEQVR4nO3Ri03DQABEwYv52A6EhP6bxQRaiKJ3mqlgn3acz8vUxnn5WN/mtK7r5zKWy5jY1xH4PrZnz3iUbVzvgeN0ePaYx3iZO/AkME5gncA6gXUC6wTWCawTWCewTmCdwDqBdQLrBNYJrBNYJ7BOYJ3AOoF1AusE1gmsE1gnsE5gncA6gXUC6wTWCawTWCewTmCdwDqBdQLrBNYJrBNYJ7BOYJ3AOoF1AusE1gmsE1gnsE5gncA6gXUC6wTWCawTWCewTmCdwDqBdQLrBNYJrBNYJ7BOYJ3AOoF1AusE1gmsE1gnsE5gncA6gXUC6wTWCawTWCewTmCdwDqBdQLrBNYJrBNYJ7BOYJ3AOoF1AusE1gmsE1gnsE5gncA6gXUC6wTWCawTWCewTmCdwLq/wMvYTlM6uv4fvI1nb3mQbVzvD07sN3D93l8nte+XI3ByP1LcHUNM13aeAAAAAElFTkSuQmCC')">
            <div class="list-title">
              <%= list.name %>
            </div>

            <div class="icon">
              <%= link_to list_path(list), class:'none-decoration', method: :delete do%>
                <i class="fa-solid fa-trash-can" id= "trash"></i>
              <%end%>
              <%= link_to edit_list_path(list) do%>
                <i class="fa-solid fa-pen"></i>
              <%end%>
            </div>
          </div>
        </div>
      <% end %>
    <%end%>
  </div>
</div>
